<header class="site-header" >


    <div class="site-header-banner">
        <h1><i class="material-icons">face</i> _Jin Zhongyuan</h1>
    </div>

    <div class="clear"></div>

    <nav class="site-nav">
      <div class="site-title">Think </div>
      <ul>
        {%- for page in site.pages -%}
          {%- if page.include_to_nav -%}
            <li class="page-link"><a  href="{{ page.url | prepend: site.baseurl }}">
              {{ page.title | escape }}
            </a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>

    </nav>


</header>
