<header class="site-header">


  <div class="site-header-banner">

    <div class="banner-name">
        <a href="/"> <h1>Jin Zhongyuan</h1></a>
      {%- include social.html -%}
    </div>


  </div>


  <nav class="site-nav">
    <!-- <div class="site-title"><a href="/"> 
      <i class="material-icons">home</i> </a>
    </div> -->
    <ul>
      {%- for page in site.pages -%}
      {%- if page.include_to_nav -%}
      <li class="page-link"><a href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title | escape }}
        </a></li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

  </nav>


</header>