@import "_base";
body { margin:0px; padding:0px; height: -webkit-fill-available;}
// set defaults

/**
 * Site header
 */


.site-header {
  height: $header-height;
  z-index: 10;
  width: -webkit-fill-available;

  .site-header-banner{
  background-color: $pannel-color-1;
  background-size: cover;
  height: $header-banner-height;
  width: 100%;
  transition-timing-function: ease-in;
  animation: color-transition 120s infinite;
  
    @keyframes color-transition {
      /* You could think of as "step 1" */
      0% {
        background: rgba($color: $pannel-color-1, $alpha: 0.8)
      }
      20%{
        background: rgba($color: $pannel-color-2, $alpha: 0.8)
      }
      40%{
        background: rgba($color: $pannel-color-3, $alpha: 0.8)
      }
      60%{
        background: rgba($color: $pannel-color-4, $alpha: 0.8)
      }
      80%{
        background: rgba($color: $pannel-color-5, $alpha: 0.8)
      }
      100% {
        background: rgba($color: $pannel-color-1, $alpha: 0.8)
      }
    }
  }
  .site-header-banner:hover  
  {
    cursor: wait;
    animation-play-state: paused;
  }
}

.banner-name{
  color: $shallow-color;
  position: absolute;
  top: 2rem; 
  left: 2rem;
  font-family: $monospace-stack;
}
  
h1{
  background-color: rgba($color: $pannel-color-1, $alpha: 0.8);
  line-height: 2.5rem;
  padding: 0.25rem 0.5rem;
}

.social-media-list{
  list-style-type: none;
  padding: 0.25rem;
  li{
    background-color: rgba($color: $pannel-color-2, $alpha: 0.8);
    line-height: 2rem;
    margin: 0.5rem 0;
    letter-spacing: 0.5px;
    font-size: 2rem;
    transition: all .1s ease-in-out;
    &:hover{
      transform: scale(1.05)
      }

  }
}

.fab{
  font-size: 1.3rem;
  padding: 10px;
}



.site-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  @extend %shadow-effect;
}
.visible-title {
  visibility: visible;
}

nav {
  width: 100%;
  height: $navbar-height;
  background: $dark-color;
  z-index: 10;
  @extend %shadow-effect;
  div{
    color: $shallow-color;
    font-size: $text-size*2;
    line-height: $navbar-height;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
    a i{
      position: relative;
      top:5px;
      color: $shallow-color;
    }
  }
  ul { 
    list-style-type: none;
    text-align: right;
    max-width: 100%;
    margin: 0;
    padding: 0 1rem;
    li { 
      display: inline-block; 
      line-height: $navbar-height;
      letter-spacing: 1px;
      font-weight: bold;
      &:not(:last-child){
        margin-right: 2rem;
      }
    }
  }
}

li a {
  text-decoration: none; 
  font-size: $text-size;
  color: $shallow-color;
  font-family: $sans-serif-stack;
  position: relative;
}
li a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: $shallow-color;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li a:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




/**
 * Site footer
 */
$footer-height: 2rem;
.site-footer {
  font-size: 1rem;
  height: fit-content;
  background-color: $dark-color;
  width: -webkit-fill-available;
  font-family: $monospace-stack;
  font-size: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  p{
    text-align: center;
    color: $shallow-color;
    margin: 0.25rem 3rem;
    line-height: 1.5rem;

    i {
      position: relative;
      top: 5px;
    }
  }
}







/**
 * Page content
 */



// .site-intro{
//   position: absolute;
//   font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
//   color: #fff;
//   background: rgba(41, 47, 54, 0.8);
//   margin: 5rem;
//   width: 20rem;
//   padding: 5rem;
//   z-index: 200;
// }
// /**
//  * Posts
//  */
// .post-header {
//   margin-bottom: $spacing-unit;
// }

// .post-title,
// .post-content h1 {
//   @include relative-font-size(2.625);
//   letter-spacing: -1px;
//   line-height: 1;

//   @include media-query($on-laptop) {
//     @include relative-font-size(2.25);
//   }
// }

// .post-content {
//   margin-bottom: $spacing-unit;

//   h2 {
//     @include relative-font-size(2);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.75);
//     }
//   }

//   h3 {
//     @include relative-font-size(1.625);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.375);
//     }
//   }

//   h4 {
//     @include relative-font-size(1.25);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.125);
//     }
//   }
// }
