---
layout: default
---

<div class="archive">

    <!-- {%- if site.posts.size > 0 -%}
<h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
<ul class="post-list">
    {%- for post in site.posts -%}
    <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
        </a>
    </h3>
    {%- if site.show_excerpts -%}
        {{ post.excerpt }}
    {%- endif -%}
    </li>
    {%- endfor -%}
</ul>

{%- endif -%} -->
    <section class="timeline">
        <div class="content">
            <div class="inner">
                <div class="date-block">
                    <div>11 April - 28 April</div>
                </div>
                <div class="timeline-marker"></div>
                <div class="digest-card" id="digest-card-1">
                    <div class="card-img">
                        <div class="card-title">
                            <h3>Welcome</h3>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text-wrapper">
                            Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere
                            ut,
                            mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien
                            ut
                            libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="inner">
                <div class="date-block">
                    <div>11 April - 28 April</div>
                </div>
                <div class="timeline-marker"></div>
                <div class="digest-card" id="digest-card-2">
                    <div class="card-img">
                        <div class="card-title">
                            <h3>Welcome</h3>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text-wrapper">
                            Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere
                            ut,
                            mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien
                            ut
                            libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="inner">
                <div class="date-block">
                    <div>11 April - 28 April</div>
                </div>
                <div class="timeline-marker"></div>
                <div class="digest-card" id="digest-card-3">
                    <div class="card-img">
                        <div class="card-title">
                            <h3>Welcome</h3>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text-wrapper">
                            Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere
                            ut,
                            mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien
                            ut
                            libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="inner">
                <div class="date-block">
                    <div>11 April - 28 April</div>
                </div>
                <div class="timeline-marker"></div>
                <div class="digest-card" id="digest-card-4">
                    <div class="card-img">
                        <div class="card-title">
                            <h3>Welcome</h3>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="card-text-wrapper">
                            Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere
                            ut,
                            mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien
                            ut
                            libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="../assets/js/archive.js" type="text/javascript"></script>