---
layout: default
---

<div class="home">

  <div class="pannel" id="pannel1">

    <div class="pannel-frontside">
      I
    </div>
    <div class="pannel-backside">
      But
    </div>

  </div>

  <div class="pannel" id="pannel2">

    <div class="pannel-frontside">
      Just
    </div>
    <div class="pannel-backside">
      I
    </div>


  </div>

  <div class="pannel" id="pannel3">

    <div class="pannel-frontside">
      Need
    </div>
    <div class="pannel-backside">
      Love

    </div>

  </div>

  <div class="pannel" id="pannel4">

    <div class="pannel-frontside">
      Some
    </div>
    <div class="pannel-backside">
      You
    </div>


  </div>

  <div class="pannel" id="pannel5">

    <div class="pannel-frontside">
      Cider
    </div>
    <div class="pannel-backside">
      More
    </div>

  </div>


  {{ content }}

</div>